$red: #f44336;
$orange: #ff9800;
$yellow: #ffeb3b;
$green: #4CAF50;
$teal: #009688;
$cyan: #00bcd4;
$blue: #2196F3;
$black: #000;
$gray: #bbb;
$lightGray: #f1f1f1;


// Logo colors
$main: #012C57;
$second: #5fdf42;

// Complementary to main color
$complementary: #FFA000;
$complementary2: #FF4BD5;