@import "../../node_modules/purecss/build/pure-min.css";
@import "../../node_modules/purecss/build/grids-responsive-min.css";

.app {
    height: 100%;

    .content {
        margin: 0 auto;
        max-width: 1280px;
    }
}


.logo {
    max-width: 300px;
}


img {
    max-width: 100%;
    opacity: 0;
    transition: opacity 1s linear;

    &[lazy=loaded] {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}