@import "../colors";

.footer {
  grid-row: 4;
  background-color: $main;
  margin: 0;
  padding: 20px 0;
  font-size: 12px;
  line-height: 12px;
  clear: both;

  .container {
    text-align: center;
    color: white;
  }
}
