@import "../colors";

.tabs {
  grid-row: 2;
  background-color: $main;
  text-align: center;
  .tabs-content {
    display: flex;
    flex-flow: row wrap;
    a {
      display: inline-block;
      flex: 1 auto;
      padding: 15px 40px;
      margin: 0;
      color: white;
      text-decoration: none;
      &:hover {
        color: $blue;
      }
      &.router-link-exact-active {
        color: $second;
      }
    }
  }
}
